@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family:"Montserrat";
}

.mainbox{
    width: 800px;
    margin: 30px;
    border: 2px solid rgb(128, 219, 255);
    margin: 0 auto;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.5);
    
}

.spaces{
    margin-top: 50px;
    margin-bottom: 0;
    clear:both
}

.spacec{
    margin-top: 180px;
    clear:both
}

.sub-box{
    height: 720px;
    background-color: rgb(233, 247, 255);
    /* padding: 10px; */
}

.left-box{
    float: left;
    width: 30%;
    overflow: hidden;
    height: 700px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.right-box{
    float: right;
    width: 65%;
    overflow: hidden;
    margin: 0;
    padding: 10px;
}

.titlebox{
    text-align: right;
    margin-top: 0;
}

body,h2,h1{
    margin: 0;
    padding: 0;
}

h1{
    font-style: none;
    font-size: 36px;
    color: rgb(0, 191, 255);
}

h2{
    font-weight: lighter;
    border-bottom: 1px solid rgba(196, 196, 196, 0.836);
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
}

h3{
    margin: 10px 0;
    font-size: 16px;
    font-weight: 500;
    color:#00a3cc;
    text-align-last: left;
    clear: both;
}

.nametext{
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 0;
}

.profile-qu{
    margin: 10px 10px 15px 0;
    font-size: 13px;

}

.profile-ans{
    margin: 14px 0;
    margin-top: 10px;
}

.profile-left{
    float: left;
    margin: 0;
}

.profile-right{
    float: left;
    margin: 0;
    font-size: 13px;
}

.profile-img{
    float: left;
    display: inline;
}
footer{
    text-align: center;
    background-color: #1e1e1e;
    padding:10px;
    font-size: 12px;
    color: aquamarine;
    clear: both;
}

.desc-text{
    font-size: 13px;
    margin: 15px 0 15px 0;
}

.in-text{
    font-size: 12px;
    padding: 0;
    margin: 0 0 px 0;
    clear:both;
}

.in-textp{
    font-size: 15px;
    padding: 0;
    margin: 0 0 5px 0;
    clear:both;
    font-weight:600;
}

.title-text{
    font-weight: bold;
    font-size: 17px;
    margin:0 0 5px 0;
    padding: 0;
}

section{
    margin-bottom: 10px;
}

.year-text{
    float:right;
    font-size: 13px;
    font-weight: bold;
    margin: 0px;
}

.title-text.flo{
    float:left;
    margin: 0 0 5px 0;
}

.text-block{
    /* background-color: aquamarine; */
    width: 32%;
    float:left;
    text-align: center;
    margin: 1px;
    overflow: hidden;
    border: 1px dashed plum;
}

.img-file{
    width:200px;
    height: 120px;
    display:block;
    margin:auto;
}

.ico-img{
    width: 20px;
    height: 18px;
    overflow: hidden;
    margin: 1px;
}

.ico{
    text-align: right;
}